@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">I'm Sorry.</h1>
<h2 class="text-danger">An error occurred while calculating the numbers.</h2>
<h3>Please try again later...</h3>




