@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">        

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Powerball">
                    <img class="img-thumbnail" src="~/Images/Powerball.jpg" alt="Powerball Logo" />
                </a>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LuckyForLife">
                    <img class="img-thumbnail" src="~/Images/LuckyForLife.jpg" alt="Lucky For Life Logo" />
                </a>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MegaMillions">
                    <img class="img-thumbnail" src="~/Images/MegaMillions.jpg" alt="Mega Millions Logo" />
                </a>
            </div>
            <div class="col-2"></div>
        </div>

    </div>
