@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>
    Disclaimer: All information in the program including draw dates and numbers in the database are entered by hand and are susceptible to human error and my not be accurate.
    It is not the intent of this program to provide the winning numbers to any number game.  With any lottery game, any possible number can come up at any particular time and 
    can not be a certainty.  This program simply assists in making logical guesses based on patterns found within the data entered in the database and is to be used for entertainment
    purposes only.
</p>
